<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <form id="userForm">
        <h1>Create New User</h1>
        <div>
            <label for="name">Name*:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="tg_username">Telegram Username*:</label>
            <input type="text" id="tg_username" name="tg_username" required>
        </div>
        <div>
            <label for="user_type">User Type*:</label>
            <select id="user_type" name="user_type" required>
                <option value="Admin">Admin</option>
                <option value="Vendor">Vendor</option>
                <option value="User">User</option>
            </select>
        </div>
        <div id="vendorSelect" style="display: none;">
            <label for="vendor">Select Vendor:</label>
            <select id="vendor" name="vendor_id">
                <!-- Опции будут добавлены динамически -->
            </select>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" required>
        </div>
        <button type="submit">Submit</button>
        <div id="message"></div> <!-- Добавленный элемент для вывода сообщений -->
        <a href="/">Back to Dashboard</a>
    </form>

    <table id="userTable">
        <thead>
            <tr>
                <th>TG Username</th>
                <th>Card #</th>
                <th>Name</th>
                <th>User Type</th>
                <th>Email</th>
<!--                <th>Phone</th>-->
            </tr>
        </thead>
        <tbody>
            <!-- User data will be inserted here -->
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            initializeForm();
            fetchUsers();
        });

        async function fetchUsers() {
            try {
                const response = await fetch('http://127.0.0.1:8000/get_users');
                const users = await response.json();
                populateUsersTable(users);
            } catch (error) {
                console.error('Error fetching users:', error);
            }
        }

        // function populateUsersTable(users) {
        //     const tableBody = document.getElementById('userTable').getElementsByTagName('tbody')[0];
        //     tableBody.innerHTML = '';
        //     users.forEach(user => {
        //         const row = tableBody.insertRow();
        //         ['tg_username', 'card_number', 'tg_first_name', 'tg_last_name', 'user_type', 'email'].forEach((prop, index) => {
        //             row.insertCell(index).textContent = user[prop];
        //         });
        //     });
        // }

        function populateUsersTable(users) {
            const tableBody = document.getElementById('userTable').getElementsByTagName('tbody')[0];
            tableBody.innerHTML = '';  // Очищаем текущее содержимое таблицы

            users.forEach(user => {
                const row = tableBody.insertRow();

                // Создаем ячейку для имени, которое будет комбинацией имени и фамилии
                const fullName = user.tg_first_name + ' ' + user.tg_last_name;  // Склеиваем имя и фамилию
                row.insertCell(0).textContent = user.tg_username;
                row.insertCell(1).textContent = user.card_number;
                row.insertCell(2).textContent = fullName;  // Вставляем полное имя в таблицу
                row.insertCell(3).textContent = user.user_type;
                row.insertCell(4).textContent = user.email;
            });
        }

        function initializeForm() {
            const userTypeSelect = document.getElementById('user_type');
            userTypeSelect.addEventListener('change', toggleVendorSelect);

            const userForm = document.getElementById('userForm');
            userForm.addEventListener('submit', submitUserForm);
        }

        async function toggleVendorSelect() {
            const vendorDiv = document.getElementById('vendorSelect');
            const vendorSelect = document.getElementById('vendor');
            if (this.value === 'Vendor' && vendorSelect.options.length === 0) {
                try {
                    const response = await fetch('http://127.0.0.1:8000/get_vendors');
                    const vendors = await response.json();
                    vendors.forEach(vendor => {
                        const option = new Option(vendor.name, vendor.vendor_id); // Correct usage
                        vendorSelect.appendChild(option);
                    });
                    vendorDiv.style.display = 'block';
                } catch (error) {
                    console.error('Error loading vendors:', error);
                }
            } else {
                vendorDiv.style.display = 'none';
            }
        }

        async function submitUserForm(e) {
            e.preventDefault();
            const formData = new FormData(this);
            const data = Object.fromEntries(formData.entries());
            const messageDiv = document.getElementById('message');

            try {
                const response = await fetch('http://127.0.0.1:8000/add_user', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    const result = await response.json();
                    fetchUsers();
                    messageDiv.textContent = 'User ' + formData.get('tg_username') + ' created successfully!';
                    messageDiv.style.color = 'green';
                    console.log(result);
                    this.reset();
                } else {
                    throw new Error('Failed to create user');
                }
            } catch (error) {
                messageDiv.textContent = error.message;
                messageDiv.style.color = 'red';
                console.error('Error:', error);
            }
        }

    </script>
</body>
</html>
